@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500italic);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	background: #FFCE5E;
	font-size: 12px;
	font-family: Arial;
}

h1 {
	color: rgb(167,15,255);
	font-size: 24px;
	font-style: bold;
}

#slogan {
	font-style: italic;
	color: rgb(167,15,255);
	font-weight: bold;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.features {
	font-family: 'Volkhov', serif;
}

#numbers-sidebar {
	font-family: 'Lobster', cursive;

}