@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500italic);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
	background: #FFCE5E;
	font-size: 12px;
	font-family: Arial;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
}

section {
	background-color: #FFE2B8;
}

h1 {
	color: rgb(167,15,255);
	font-size: 24px;
	font-style: bold;
}

#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	margin: 10px;
	padding: 20px;
	float: left;
	width: 30%;
	height: 100px;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	margin: 10px;
	padding: 20px;
	float: left;
	width: 30%;
	height: 100px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#slogan {
	font-style: italic;
	color: rgb(167,15,255);
	font-weight: bold;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.features {
	font-family: 'Volkhov', serif;
}

#numbers-sidebar {
	font-family: 'Lobster', cursive;

}

#photo {
	width: 25%; 
	height: auto;
}