body {
	background: #FFCE5E;
	font-size: 12px;
	font-family: Arial;
}

h1 {
	font-color: rgb(167,15,255);
	font-size: 24px;
	font-style: bold;
}

#slogan {
	font-style: italic;
	font: rgb(167,15,255);
	font-weight: bold;
}